<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Finanças - Own Money{% endblock %}</title>
</head>
<body>
    <nav>
        <div>
            <a href="{% url 'home' %}">← Voltar para o início</a>
        </div>
        <div>
            <a href="{% url 'finance:finance_home' %}">Visão geral</a>
            <a href="{% url 'finance:accounts_list' %}">Contas</a>
            <a href="{% url 'finance:credit_cards_list' %}">Cartões</a>
            <a href="{% url 'finance:beneficiaries_list' %}">Beneficiários</a>
            <a href="{% url 'finance:categories_list' %}">Categorias</a>
            <a href="{% url 'finance:transactions_list' %}">Transações</a>
        </div>
    </nav>
    
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>

