{% extends 'finance/base.html' %}

{% block title %}Beneficiários - Finanças{% endblock %}

{% block content %}
        <h1>Beneficiários</h1>
        
        {% if beneficiaries %}
        <div>
            {% for beneficiary in beneficiaries %}
            <div>
                <h3>{{ beneficiary.full_name }}</h3>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div>
            <p>Nenhum beneficiário cadastrado ainda.</p>
            <p>
                <a href="/admin/finance/beneficiary/add/">Criar um beneficiário</a>
            </p>
        </div>
        {% endif %}
{% endblock %}

