{% extends 'finance/base.html' %}

{% block title %}Deletar Transação - Finanças{% endblock %}

{% block content %}
        <h1>Deletar Transação</h1>
        
        <div>
            <p>Tem certeza que deseja deletar a transação <strong>{{ transaction.description|default:"Sem descrição" }}</strong>?</p>
            <p>Data: {{ transaction.buy_date|date:"d/m/Y" }}</p>
            <p>Valor: R$ {{ transaction.value|floatformat:2 }}</p>
            <p>Esta ação não pode ser desfeita.</p>
        </div>
        
        <form method="post">
            {% csrf_token %}
            <div>
                <button type="submit">Confirmar Deletar</button>
                <a href="{% url 'finance:transactions_list' %}">Cancelar</a>
            </div>
        </form>
{% endblock %}

